.register-container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto; /* Updated margin for centering */
  }
  
  .register-container h1 {
    text-align: center;
    color: #333;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-container label {
    margin: 10px 0;
  }
  
  .register-container input {
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .register-container button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .register-container .error {
    color: red;
  }
  
  .register-container .success {
    color: green;
  }
  