.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

/* Header.css */
header {
  background-color: #bfc3a5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  max-width: 960px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: flex-end; /* Change from space-between to flex-end */
  align-items: center;
  margin-right: 20px; /* Add margin to the right side */
}

.header-nav li {
  margin-left: 15px; /* Adjust the margin as needed */
}

.header-nav a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.header-nav a:hover {
  color: #ffcc00; /* Change the color on hover */
}

/* Style the magnify class */
.magnify a::before {
  content: "\1F50D"; /* Unicode character for a magnifying glass */
  margin-right: 5px;
  color: #ffcc00; /* Set the color of the magnifying glass icon to a yellowish color */
}

.logo-container {
  text-align: left;
}

.logo-container img {
  max-height: 100px; /* Adjust the maximum height of the logo as needed */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


main {
  padding: 20px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #ffc107; /* Change color on hover to yellow */
}

.register-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto; /* Updated margin for centering */
}

.register-container h1 {
  text-align: center;
  color: #333;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container label {
  margin: 10px 0;
}

.register-container input {
  padding: 12px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.register-container button {
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.register-container .error {
  color: red;
}

.register-container .success {
  color: green;
}
